<!-- Navbar  ================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          {% if page.url == "/index.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/index.html">Home</a></li>

          {% if page.url == "/blog.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/blog.html">Blog</a></li>

          {% if page.url == "/about.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/about.html">About</a></li>

          {% if page.url == "/projects.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/projects.html">Projects</a></li>
        </ul>
      </div><!--/.nav-collapse -->
     </div> <!-- /container -->
   </div> <!-- /navbar-inner -->
 </div> <!-- /navbar -->
